---
import TimeInput from '../components/timeInput.svelte'
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reunion manager</title>
</head>
<body>
	<TimeInput client:visible/>	
</body>
</html>
<style>
	.p_btn{
		padding: .5rem;
		background-color: blue;
		color: white;
	}
</style>
