<footer class="h-40 bg-slate-100">
    <div class="flex md:flex-row flex-col justify-center items-center h-full gap-2">
        <p>This page was developed using a free cocktails api, you can find more information in </p>
        <a class="text-orange-600 hover:underline" href="https://www.thecocktaildb.com/" target="_blank">The cocktail DB</a>
    </div>
</footer>
